/* TopButton.css */

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Adjust the color to your preference */
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .top-button:hover {
    background-color: #0056b3; /* Adjust the hover color */
  }
  

  .top-button.visible {
    /* Styles for the visible state */
    opacity: 1;
    visibility: visible;
  }